.calendar-salaires {
	border: none;
	border-radius: 2px;
	display: block;
	min-width: 20rem;
	text-align: center;
	max-width: 100%;
	font-size: .8rem;
}
/******************************** NAV ********************************/
.calendar-salaires .calendar-nav {
	align-items: center;
	background: #00d1b2;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.25rem;
	padding: .5rem;
}

.calendar-salaires .calendar-nav .calendar-nav-left, .calendar-salaires .calendar-nav .calendar-nav-right {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.calendar-salaires .calendar-nav .calendar-nav-left .button, .calendar-salaires .calendar-nav .calendar-nav-right .button {
	text-decoration: none;
	color: white;
}

.calendar-salaires .calendar-nav .calendar-nav-left .button:hover, .calendar-salaires .calendar-nav .calendar-nav-right .button:hover {
	background: transparent;
	color: whitesmoke;
}

.calendar-salaires .calendar-nav .calendar-nav-left {
	align-items: center;
	justify-content: flex-start;
}

.calendar-salaires .calendar-nav .calendar-nav-right {
	align-items: center;
	justify-content: flex-end;
}
/******************************** /NAV ********************************/
.salaire-box table {
	margin-bottom: 0;
}